* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(33, 33, 211);
  width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(225, 81, 199);
  width: 100%;
  height: 80px;
}
#user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
}
.fa-solid {
  margin-left: 30px;
}
.user-info {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}
.left-box {
  width: 80%;
  height: 800px;
  background-color: rgb(160, 211, 33);
}
aside {
  width: 20%;
  height: 800px;
  background-color: rgb(211, 33, 51);
}
.left-box__header {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
}
.circles {
  border: 1px solid #000;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin: 20px 20px;
}

.main-sections {
  border: 1px solid #000;
}

.row {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 100%;
  height: 280px;
}

.product-info {
  border: 1px solid #000;
  width: 290px;
  height: 100%;
  margin: 0px 20px;
}
